.fondoAlbunes{
    background-image: url(../img/albunes/PUSDX6VIOJAOBOFDHVASHJZSJ4-d06IqK.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;

    .tituloAlbun {
        font-size: 3rem;
        text-align: center;
        color: white;
            
            @media (max-width: 776px) { font-size: 2.3rem}
    }

 .textoInformativo {
            margin-left: 20px;
            font-size: 1.7em;
            color: white;
            font-weight: 300;
                
                @media (max-width: 776px) { font-size: 1.4em;}
        }

    .cardsConteiner{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        overflow: auto;
        margin-top: 90px;

            .grupoCards {
                width: 85%;
                height: 85%;
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                gap: 20px;
                

                .hhh {
                    width: 20em;
                    
                        @media (max-width: 776px) {width: 17em;}
                        @media (max-width: 663px) {width: 90%;}

                    .cards {
                        width: 100%;
                    }

            }
        }
    }

}